<h1>#index</h1>

<%= form_for :answer , url: answer_create_path(@a) do |f| %>
<h2><%= @ques.id %> <%= @ques.ques %></h2>

<% @ans.each do |a| %>
<table class ="stripped-table">

<tr>
  <td><%= a.id%></td>
  <td><%= a.qid%></td>
  <td><%= a.ans%></td>
  	</tr>
	</table>
<p>	
	<%end%>
	
</p>
<p>
    <%= f.label :Answer%><br>
    <%= f.text_area :ans %>
    <%= f.submit %>
 </p>
  


<%end%>